@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* CSS Variables */
:root {
	--gray: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--background-dark-blue: hsl(216, 50%, 16%);

	--box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}
/* CSS Reset */
* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;

	background: hsl(217, 54%, 11%);
	font-family: "Outfit", sans-serif;
}

/* Card Syling */
main {
	margin: auto;
	max-width: 17rem;

	background-color: hsl(216, 50%, 16%);
	padding: 1.3em;
	border-radius: 15px;
	box-shadow: var(--box-shadow);
}

/* Styling nft image */
.nft-img {
	width: 17rem;
	height: 17rem;
	background: url("./images/image-equilibrium.jpg");
	background-size: 100%;
	border-radius: 7px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.nft-img-inner {
	opacity: 0;
	background-color: rgba(0, 255, 247, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 7px;
	transition: opacity 300ms ease;
}

.nft-img:hover .nft-img-inner {
	opacity: 1;
}

/* Styling header */
main > h1 {
	font-size: 1.3em;
	margin: 1rem 0px;
}

main > h1 > a {
	text-decoration: none;
	color: hsl(0, 0%, 100%);
	transition: color 300ms ease;
}

main > h1 > a:hover {
	color: var(--cyan);
}

/* Styling paragraph */
main > p {
	color: var(--gray);
	line-height: 1.5;
}

/* Styling info section */
main > section {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0px;
	margin-bottom: 1rem;
	border-bottom: 1px solid hsl(215, 32%, 27%);
}

.eth,
.deadline {
	display: flex;
	align-items: center;
}

.eth {
	color: var(--cyan);
}

.deadline {
	color: var(--gray);
}

.eth-icon,
.clock-icon {
	margin-right: 5px;
}

/* Styling card footer */
main footer {
	display: flex;
	align-items: center;
	color: var(--gray);
}

main footer a {
	color: white;
	text-decoration: none;
	transition: color 300ms ease;
}

main footer a:hover {
	color: var(--cyan);
}

.author-icon {
	width: 2rem;
	margin-right: 1rem;
	border: 1px solid white;
	border-radius: 50%;
}

/* Footer */
.page-footer {
	background: hsl(216, 50%, 16%);
	color: white;

	padding: 1rem clamp(1rem, 10%, 10rem);
	margin: 15px;

	border-radius: 100px;
	box-shadow: var(--box-shadow);
	text-align: center;
}

.page-footer > a {
	color: rgb(98, 211, 248);
	text-decoration: none;
	transition: color 300ms ease;
}

.page-footer > a:hover {
	text-decoration: none;
	color: rgb(1, 137, 182);
}
